@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Kdam+Thmor+Pro&family=Roboto+Mono:wght@400;500&display=swap');
/* Import Google Font - 'Cabin', weight: 400 & 500 */


/* -- Global Style */

* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    font-family: 'Cabin', sans-serif;
    color: #3c3c3c;
}


/* -- Heading */

h1 {
    font-size: 4.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: 3rem 0 2rem;
    /* code for 3D effect from https://codepen.io/mandymichael/pen/VprZaq */
    text-shadow:
        -1px -1px 0 #800080, 1px -1px 0 #800080, -1px 1px 0 #800080, 1px 1px 0 #800080,
        1px 0px 0px #EFCA08, 0px 1px 0px #EFCA08, 2px 1px 0px #EFCA08, 1px 2px 0px #EFCA08, 3px 2px 0px #EFCA08, 2px 3px 0px #EFCA08, 4px 3px 0px #EFCA08, 3px 4px 0px #EFCA08, 5px 4px 0px #EFCA08,
        3px 5px 0px #800080, 6px 5px 0px #800080,
        -1px 2px 0 black, 0 3px 0 #800080, 1px 4px 0 #800080, 2px 5px 0px #800080,
        2px -1px 0 #800080, 3px 0 0 #800080, 4px 1px 0 #800080, 5px 2px 0px #800080, 6px 3px 0 #800080, 6px 5px 0 #800080,
        4px 9px 10px #395C6B;
    color: #B2FF91;
}


/* -- Navigation Icons */

#navigation {
    position: absolute;
    right: 2rem;
    top: 1.5rem;
    list-style-type: none;
}

#navigation li {
    display: inline;
}

.icons {
    font-size: 2.5rem;
    color: #FFF;
    text-shadow: 0px 1px 8px #395C6B;
    padding: 0.5rem;
    border: none;
    background: none;
    box-shadow: none;
    width: 100%;
}

.icons:hover {
    text-shadow: 0px 1px 15px #395C6B;
    box-shadow: none;
}

.icons:active {
    font-size: 2.5rem;
    text-shadow: 0px 1px 15px #395C6B;
    box-shadow: none;
}

.close-window {
    position: absolute;
    right: 2rem;
    top: 1rem;
}


/* -- Message Display */

#settings {
    display: none;
}

#how-to-play {
    text-align: left;
}

#message-container {
    height: 40%;
    position: absolute;
    width: 100%;
    background: #B8FFDE;
    border-bottom: solid #90E0F3 10px;
    border-top: solid #90E0F3 10px;
    font-size: 1.5rem;
    box-shadow: 0px 2px 20px #3c3c3c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #3c3c3c;
}

#message-container>* {
    padding: 1rem;
}

#message-container>p {
    width: 80%;
    max-width: 1000px;
}

#message-buttons {
    display: flex;
    flex-flow: row nowrap;
    padding: 2rem;
}

#message-buttons button {
    margin: 0 1.5rem;
}

.upgrade-toggle {
    margin: 0.2rem;
}

.upgrade-option,
.upgrade-toggle {
    width: 10rem;
    font-size: 1.1rem;
    height: 10rem;
}

.upgrade-option:active,
.upgrade-toggle:active {
    font-size: 1rem;
}

.upgrade-display {
    display: inline-block;
    border: solid #3c3c3c 2px;
    width: 8rem;
    height: 6.5rem;
    background: #FFFBF1;
    margin: 0.5rem auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 3rem;
}

.upgrade-display * {
    padding-top: 1.5rem;
    color: #3c3c3c;
}

.upgrade-option:active .upgrade-display,
.upgrade-toggle:active .upgrade-display {
    width: 7.6rem;
    height: 6.3rem;
    font-size: 2.8rem;
}

 .upgrade-name {
    padding-top: 0.2rem;
    display: inline-block;
}

.upgrade-toggle:disabled .upgrade-display {
    opacity: 0.5;
}


/* -- Main Game Area */

#game-board {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
}

.box {
    border: #3c3c3c solid 2px;
    border-radius: 5px;
    background: #FFFBF1;
    box-shadow: 0px 1px 8px #395C6B;
}

.display {
    width: 400px;
    height: 400px;
    margin-bottom: 1rem;
    font-size: 13rem;
    color: #3c3c3c;
    display: flex;
    justify-content: center;
    align-items: center;
}

#versus {
    font-size: 2.5rem;
    align-self: center;
    padding: 2.5rem;
}

#weapon-select {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 400px;
}

button {
    width: 7rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    border: #3c3c3c solid 2px;
    border-radius: 20px;
    font-family: inherit;
    background: #EFCA08;
    color: #4F3824;
    box-shadow: 0px 1px 8px #395C6B,
        0 -2px 2px #c38b22 inset,
        0 5px 8px #FFF inset,
        0 2px 10px 0 #c38b22 inset;
    flex-shrink: 0;
}

button:hover {
    box-shadow: 0px 0px 6px #395C6B,
        0 -1px 1px #c38b22 inset,
        0 4px 6px #FFF inset,
        0 2px 10px 0 #c38b22 inset;
}

button:active {
    font-size: 1.4rem;
    box-shadow: 0px 0px 2px #395C6B,
        0 -3px 6px #FFF inset,
        0 5px 6px #c38b22 inset,
        0 2px 10px 0 #FFF inset;
}

button:disabled {
    background: #d3d3d3;
    box-shadow: 0px 1px 8px #395C6B,
        0 -2px 2px #808080 inset,
        0 5px 8px #FFF inset,
        0 2px 10px 0 #808080 inset;
    color: #808080;
}

button:disabled:hover {
    box-shadow: 0px 0px 6px #395C6B,
        0 -1px 1px #808080 inset,
        0 4px 6px #FFF inset,
        0 2px 10px 0 #808080 inset;
}

button:disabled:active {
    box-shadow: 0px 0px 2px #395C6B,
        0 -3px 6px #fff inset,
        0 5px 6px #808080 inset,
        0 2px 10px 0 #fff inset;
}

#scoreboard {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin: 2rem auto;
    padding: 0 1rem;
    /* background: rgba(255, 255, 255, 0.5); */
}

#outcome {
    font-size: 1.5rem;
    padding: 0 1rem;
}

#score-bar {
    width: inherit;
    height: 40px;
    margin: 2rem 0 1rem;
    overflow: hidden;
}

#progress-bar {
    height: 100%;
    width: 0px;
    background: #B2FF91;
}

#scoreboard p {
    flex-grow: 1;
    font-size: 1.5rem;
}


/* -- Themes/Backgrounds */

.pink-theme {
    background: linear-gradient(135deg, #EDC5D8 0%, #ff95af 50%, #EDC5D8 100%);
    background-repeat: no-repeat;
}

.blue-theme {
    background: linear-gradient(135deg, #B8FFDE 0%, #90E0F3 50%, #B8FFDE 100%);
    background-repeat: no-repeat;
}

.dark-theme {
    background: linear-gradient(135deg, #232B6F 0%, #2A45CB 50%, #232B6F 100%);
    background-repeat: no-repeat;
}

.rainbow-theme {
    background: linear-gradient(135deg, rgba(255, 0, 21, 1) 0%,
            rgba(255, 136, 0, 1) 15%,
            rgba(241, 255, 0, 1) 30%,
            rgba(13, 255, 0, 1) 45%,
            rgba(0, 171, 255, 1) 60%,
            rgb(143, 52, 255) 75%,
            rgba(255, 0, 200, 1) 90%);
    background-repeat: no-repeat;
}


/* -- Animation Keyframes */

@keyframes slide-in {
    0% {
        top: -35%;
    }

    60% {
        top: calc(30% + 5px);
    }

    70% {
        top: calc(30% - 5px);
    }

    80% {
        top: calc(30% + 3px);
    }

    90% {
        top: calc(30% - 2px);
    }

    100% {
        top: 30%;
    }
}

@keyframes slide-out {
    0% {
        top: 30%;
    }

    20% {
        top: calc(30% + 5px);
    }

    40% {
        top: calc(30% - 10px);
    }

    100% {
        top: 100%;
    }
}


/* -- Media Queries */

/* --- For medium/large screens, 1024px and below  */
@media screen and (max-width: 1024px) {
    h1 {
        font-size: 3.5rem;
        padding: 2rem 0 1rem;
    }

    #navigation {
        right: 1.5rem;
    }

    .icons {
        font-size: 2rem;
    }
    
    .icons:active {
        font-size: 2rem;
    }

    #message-container {
        font-size: 1rem;
    }

    #message-container>* {
        padding: 0.5rem;
    }

    #message-buttons {
        padding: 1rem;
    }

    #message-buttons button {
        margin: 0 1rem;
    }

    .upgrade-option,
    .upgrade-toggle {
        width: 8rem;
        font-size: 1rem;
        height: 8rem;
    }

    .upgrade-name {
        padding-top: 0.3rem;
    }

    .upgrade-option:active,
    .upgrade-toggle:active {
        font-size: 0.9rem;
    }

    .upgrade-display {
        width: 6.5rem;
        height: 4.7rem;
        margin: 0.3rem auto;
        font-size: 2.5rem;
    }

    .upgrade-display * {
        padding-top: 1rem;
    }

    .upgrade-option:active .upgrade-display,
    .upgrade-toggle:active .upgrade-display {
        width: 6.2rem;
        height: 4.5rem;
        font-size: 2.3rem;
    }

    .display {
        width: 300px;
        height: 300px;
        margin-bottom: 0.5rem;
        font-size: 10rem;
    }

    #versus {
        font-size: 2rem;
        padding: 2rem;
    }

    #weapon-select {
        width: 300px;
    }

    button {
        width: 5.5rem;
        font-size: 1.2rem;
        margin-top: 0.5rem;
    }

    button:active {
        font-size: 1.3rem;
    }

    #outcome {
        font-size: 1.2rem;
        /* padding-top: 1rem; */
    }

    #scoreboard {
        width: 500px;
    }

    #score-bar {
        height: 30px;
        margin: 1rem 0;
    }

    #scoreboard p {
        font-size: 1.2rem;
    }
}

/* --- For medium screens, 770px and below  */
@media screen and (max-width: 770px) {
    h1 {
        font-size: 3rem;
        padding-top: 1.5rem;
    }

    .icons {
        font-size: 1.5rem;
        padding: 0.2rem;
    }

        
    .icons:active {
        font-size: 1.5rem;
    }

    #message-buttons button {
        margin: 0 0.5rem;
    }

    .upgrade-option,
    .upgrade-toggle {
        width: 6rem;
        font-size: 0.8rem;
        height: 6rem;
    }

    .upgrade-name {
        padding-top: 0.4rem;
    }

    .upgrade-option:active,
    .upgrade-toggle:active {
        font-size: 0.7rem;
    }

    .upgrade-display {
        width: 5rem;
        height: 3.5rem;
        margin: 0.3rem auto;
        font-size: 1.8rem;
        border: 1.5px solid #3c3c3c;
    }

    .upgrade-option:active .upgrade-display,
    .upgrade-toggle:active .upgrade-display {
        width: 4.8rem;
        height: 3.5rem;
        font-size: 1.6rem;
    }

    .box {
        border: #3c3c3c solid 1.5px;
    }

    .display {
        width: 250px;
        height: 250px;
        font-size: 8rem;
    }

    #weapon-select {
        width: 250px;
    }

    button {
        width: 4.5rem;
        font-size: 1rem;
        border: #3c3c3c solid 1.5px;
    }

    button:active {
        font-size: 0.9rem;
    }

    #versus {
        font-size: 1.5rem;
        padding: 1rem;
    }

    #scoreboard {
        width: 400px;
    }
}

/* --- For small screens, 600px and below  */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 2.6rem;
        padding-top: 3rem;
        position: relative;
    }

    #navigation {
        left: 0;
        top: 0.6rem;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #navigation .icons {
        margin: 0.5rem;
    }

    .close-window {
        right: 0.5rem;
        top: 0.5rem;
    }

    #message-container {
        font-size: 0.9rem;
    }

    #how-to-play {
        font-size: 0.8rem;
    }

    .upgrade-option,
    .upgrade-toggle {
        height: 4rem;
    }

    .upgrade-name {
        padding-top: 0.2rem;
    }

    .upgrade-display {
        height: 1.5rem;
        margin: 0.1rem auto;
        font-size: 1rem;
    }

    .upgrade-display * {
        padding-top: 0.3rem;
    }

    .upgrade-option:active .upgrade-display,
    .upgrade-toggle:active .upgrade-display {
        height: 1.3rem;
        font-size: 0.9rem;
    }

    #game-board {
        flex-direction: column;
        align-items: center;
    }

    #comp-display {
        width: 200px;
        height: 200px;
        font-size: 6rem;
    }

    .display {
        width: 250px;
        height: 250px;
    }

    #versus {
        font-size: 1rem;
        padding: 0.5rem;
    }

    #user-display {
        margin: auto;
    }

    #outcome {
        /* padding-top: 1rem; */
        font-size: 1rem;
    }

    #scoreboard {
        width: 300px;
    }

    #score-bar {
        height: 20px;
        margin: 1rem 0 0.5rem;
    }

    #scoreboard p {
        font-size: 1rem;
    }
}

/* --- For extra small screens, 340px and below  */
@media screen and ( max-width: 340px) {
    h1 {
        font-size: 2rem;
    }

    #message-container>p {
        width: 95%;
        max-width: 1000px;
    }

    .upgrade-option,
    .upgrade-toggle {
        width: 4.6rem;
        font-size: 0.6rem;
    }

    .upgrade-name {
        padding-top: 0.2rem;
    }

    .upgrade-option:active,
    .upgrade-toggle:active {
        font-size: 0.5rem;
    }

    .upgrade-display {
        height: 1.8rem;
        width: 3.7rem;
        margin: 0.2rem auto;
        font-size: 1rem;
    }

    .upgrade-display * {
        padding-top: 0.3rem;
    }

    .upgrade-option:active .upgrade-display,
    .upgrade-toggle:active .upgrade-display {
        height: 1.7rem;
        width: 3.4rem;
        font-size: 0.9rem;
    }

    #comp-display {
        width: 150px;
        height: 150px;
        font-size: 5rem;
    }

    .display {
        width: 220px;
        height: 220px;
    }

    #weapon-select {
        width: 250px;
    }

    #outcome {
        font-size: 1rem;
    }

    #scoreboard {
        width: 250px;
    }

    #score-bar {
        margin-top: 0.5rem;
    }

    #scoreboard p {
        font-size: 0.8rem;
    }
}